body{
    background-color: #00bfb5;
}

.container_for_bar{
    position: absolute;
    left: 25%;
    top: 15%;
    width: 1000px;
    height: 650px;
    align-content: center;
    font-family: 'Comfortaa';
    font-style: normal;
    color: #3A3434;
    
    
    }
    .home_background{
        height: 100vh;
        width: 100vw;
    }

    .home_logo{
        position: relative;
        left: 25%;
        top: -15%;
    }


    .view_button{
        position: relative;
        left: -2.5%;
        height: 60px;
        width: 220px;
        background: transparent;
        font-family: 'Comfortaa';
        font-style: normal;
        font-size: x-large;
        font-weight: bolder;
        color: #3A3434;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
        border-radius: 50px;
    }
    .view_button:hover{
        background: whitesmoke;
    }
    .create_button{
        position: relative;
        left: 2.5%;
        background: transparent;
        height: 60px;
        width: 220px;
        font-family: 'Comfortaa';
        font-style: normal;
        font-size: x-large;
        font-weight: bolder;
        color: #3A3434;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
        border-radius: 50px;
    }
    .create_button:hover{
        background:whitesmoke;
    }

    .button_container{
        position: relative;
        width: 50%;
        left: 25%;
        top: -30%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    